* {
    padding:0;
    margin: 0;
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: top;
}

a {
    color: inherit;
    text-decoration: none;
}

*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    width: 100%;
}
button, input {
    background-color: transparent;
    border: none;
}
button  {
    cursor: pointer;
}

.scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
